.custom-scrollbar::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

/* Track */
.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
  border-bottom-right-radius: 12px;
}

/* Handle */
.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #555555a9;
}
